.navbar {
    width: 5%;
    align-items: center;
    height: auto;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4))
}

.navbarMain {
    flex: 1;
    margin-top: 50px;
}

.navbar-shell {
    position: relative;
    height: 100%;
}

.navbar-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
    width: 50px;
    height: 50px;
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
    }

    &[data-active] {

        &,
        &:hover {
            background-color: var(--mantine-color-blue-light);
            color: var(--mantine-color-blue-light-color);
        }
    }
}

@media (max-width: 992px) {
    .desktop-navbar-toggle {
        display: none;
    }

    .navbar-layout {
        border-right: 0;
    }

    .link {
        width: 44px;
        height: 44px;
    }
}