.wrapper {
    min-height: 90vh;
    background-size: cover;
    background-image: url("../../../../../public/assets/images/hero\ castello\ inverno.jpg")
}

.form {
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    min-height: 900px;
    max-width: 450px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
        Greycliff CF,
        var(--mantine-font-family);
}